.customButton {
  width: 20%;
  height: 50px;
  padding: 30px 25px;
  border: 2px solid #000;
  /*font-family: "Lato", sans-serif;*/
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btnEffect {
  color: #000;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btnEffect:hover {
  background: transparent;
  color: #420303;
  /*box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;*/
}
.btnEffect:before,
.btnEffect:after {
  content: "";
  position: absolute;

  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #420303;
  transition: 400ms ease all;
}
.btnEffect:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btnEffect:hover:before,
.btnEffect:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
