.canvas {
  border: 1px solid #000000;
  background-image: url("../assets/img/png/board_1_1000x1000.png");
}

.containerAlign {
  display: flex;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.errorImg {
  width: 300px;
  height: 300px;
}

.loadingGif {
  width: 300px;
  height: 300px;
}
