@font-face {
  font-family: "frozen";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff");
}

:root {
  --debug: transparent;
  --debugChild: transparent;
  --debugGrandChild: transparent;
}

.subtitleContainer {
  display: inline-block;
  background-color: var(--debug);
  width: 100%;
  height: 20%;
  text-align: center;
  margin: 0;
}

.subtitle {
  background-color: var(--debugChild);
  font-size: 3em;
  color: #420303;
  font-family: "frozen", serif;
}

.subsubtitleContainer {
  display: flex;
  justify-content: space-evenly;
}

.tooltip {
  font-size: 20px;
}
