.containerAlign {
  width: 100vh;
  height: 100vh;
}

.errorImg {
  position: absolute;
  width: 30vh;
  height: 30vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.containerText {
  position: absolute;
  width: 30vh;
  height: 30vh;
  left: 0;
  right: 0;
  top: 100;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
