:root {
  --selectedRep1: none;
  --selectedRep2: none;
  --selectedRep3: none;
  --selectedRep4: none;
}

.rep {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  /*background-color: #bbb;*/
  border-radius: 50%;
  display: inline-block;
}

.rep:hover {
  border: 2px #420303 solid;
  transform: scale(1.5);
}

.rep_1 {
  background-color: lightpink;
  transition: transform 0.2s;
  border: 2px #420303 var(--selectedRep1);
}

.rep_2 {
  background-color: lightgreen;
  transition: transform 0.2s;
  border: 2px #420303 var(--selectedRep2);
}

.rep_3 {
  background-color: lightblue;
  transition: transform 0.2s;
  border: 2px #420303 var(--selectedRep3);
}
.rep_4 {
  background-color: lightsalmon;
  transition: transform 0.2s;
  border: 2px #420303 var(--selectedRep4);
}
